 body {
   font-family: "Roboto", sans-serif;
   font-weight: 100;
   margin: 0;
   display: flex;
   min-height: 100%;
   flex-direction: column;
   overflow-x: hidden;
 }

 html {
   height: 100%;

 }

 footer {
   margin-top: auto;
 }
 
.table thead th {
  background-color: transparent !important;
}

/* navigation bar */

 .custom-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
 }


 .nav-links {
   display: flex;
   list-style: none;
 }

 .nav-links li {
   margin-right: 20px;
 }

 .nav-links a {
   text-decoration: none;
   color: #345bf5;
 }

 .taggle {
   display: none;
   flex-direction: column;
   cursor: pointer;
 }

 .line {
   width: 25px;
   height: 3px;
   background-color: #290add;
   margin: 4px;
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
 }

 /* Media query for mobile devices */
 @media screen and (max-width: 768px) {
   .taggle {
     display: flex;
   }

   .nav-links {
     display: none;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 60px;
     /* Adjust as needed */
     left: 0;
     background-color: #3c07dd;
     padding: 10px 0;
     transition: opacity 0.5s ease-in-out;
     opacity: 0;
   }

   .nav-links li {
     margin-right: 0;
     margin-bottom: 10px;
     text-align: center;
   }

   .nav-links a {
     color: #fff;
   }

   /* Show nav-links when toggle is clicked */
   .active {
     display: flex;
     opacity: 1;
   }

   /* Adjust toggle button for X appearance */
   .taggle.active .line:nth-child(1) {
     transform: rotate(45deg) translate(5px, 5px);
   }

   .taggle.active .line:nth-child(2) {
     opacity: 0;
   }

   .taggle.active .line:nth-child(3) {
     transform: rotate(-45deg) translate(7px, -6px);
   }
 }

 
   


  


